.container {
    min-height: 700px;
    width: 300px;
    background-color: white;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
    border: 1px solid;
    border-color: white;
}
.container:hover {   
     border-color: black;
}
.image {
    display: block;
    transition: all .4s ease-in-out;
    width: 395px;
}
.image:hover {
    scale: 1.25;
}
.block {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}