<h1 style="text-align: center;">Cart Page</h1>
<div div *ngIf="products!==[]">
<div *ngFor="let el of products">
    <h3 style="text-align: center;">{{el.product}}</h3>
    <!-- TODO: Would like to add description -->
    <!-- <p>{{el.description}}</p> -->
    
    <div class="block">
        <img style="transform: rotate(-90deg)" class="image" src={{el.imageLink}}/>
    </div>
    <div class="quantity">
        <div>
            <p style="font-size: 1.6rem; margin: 5px 0;">{{el.quantity}}</p>
            <button mat-button (click)="add(el)" style="font-size: 1.3rem;"><i class="fa-solid fa-arrow-up"></i></button>
            <button mat-button (click)="removeSingle(el)" style="font-size: 1.3rem;"><i class="fa-solid fa-arrow-down"></i></button>
        </div>
        <div>
            <button color="warn" (click)="remove(el)" mat-fab style="font-size: 1rem;"><i class="fa-solid fa-trash"></i></button>
        </div>
    </div>
    <h4 style="text-align: center; padding-bottom: 40px;">$ {{convert(el.quantity,el.price)}}</h4>
</div></div>
<div style="text-align: center; padding-bottom: 40px;">
    <button mat-raised-button routerLink="/checkout">Checkout</button>
</div>
<!-- <button mat-button (click)="info()">get info</button> -->