<h1>Checkout Page</h1>
<section>
    <h3>Billing Address</h3>
    <input placeholder="Name"/>
    <input placeholder="Address"/>
    <input placeholder="City, State zip"/>
</section>
<section>
    <h3>Payment</h3>
    <input placeholder="Name"/>
    <input placeholder="Card Number"/>
    <input placeholder="Expiration Date"/>
    <input placeholder="CVV"/>
</section>
<section>
    <h3>Review Cart</h3>
    <div *ngFor="let el of product">
        <h4>{{el.product}}</h4>
        <p>{{el.quantity}} @ ${{el.price}}</p>
    </div>
    <h3>Total ${{total}}</h3>
</section>
<button mat-raised-button (click)="purchase()">Purchase</button>